<script src="https://kit.fontawesome.com/e80784ce5e.js" crossorigin="anonymous"></script>
<footer class="fixed-bottom">
  <div class="container d-flex justify-content-center flex-fill">
    <div class="row">
      <div class="footericon col-md-6 col-sm-6">
        <i class="fab fa-facebook-square"></i>&nbsp;
        <i class="fab fa-instagram"></i>&nbsp;
        <i class="fab fa-twitter-square"></i>
      </div>
      <div class="footerblock col-md-6 col-sm-6">
        <div>
          <i class="fas fa-phone-volume"></i>&nbsp;&nbsp;
          <a href="tel:+886223315247">(02) 2331-5247</a>
        </div>
        <div>
          <i class="far fa-envelope"></i>&nbsp;&nbsp;
          <a href="mailto:ohmywage@ohmywage.com">ohmywage@ohmywage.com</a>
        </div>
        <div>
        <i class="fas fa-map-marked-alt"></i>&nbsp;&nbsp;
          <a href="https://ubin.io/TyZN7E">台北市中正區衡陽路7號5樓</a>
        </div>
      </div>
    </div>
  </div>
</footer>
