<script src="https://kit.fontawesome.com/e80784ce5e.js" crossorigin="anonymous"></script>
<footer class="fixed-bottom">
  <div class="container d-flex justify-content-center flex-fill">
    <div class="col-md-12">
      <div class="fixed-bottom">
          <a href="tel:+886223315247">
            <i class="fas fa-phone-volume"></i>&nbsp;&nbsp;
            <p>(02) 2331-5247</p>
          </a>
          <a href="mailto:admin@oh-my-wage.website">
            <i class="far fa-envelope"></i>&nbsp;&nbsp;
            <p>admin@oh-my-wage.website</p>
          </a>
          <a href="https://ubin.io/TyZN7E">
            <i class="fas fa-map-marked-alt"></i>&nbsp;&nbsp;
            <p>台北市中正區衡陽路7號5樓</p>
          </a>
      </div>
    </div>
  </div>
</footer>
