<h1>Student list</h1>
<h3>O-(///￣皿￣)☞ ─═≡☆゜★█▇▆▅▄▃▂＿　_(´ཀ`」 ∠)_ </h3>
<table class="table table-hover table-sm">
<thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Department</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
  
  <tr>
    <td>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>
<%= link_to "index", root_path, class: 'btn btn-secondary btn-lg' %>