<h1>Hi, <%= current_user.name %> 老師您好</h1>
<%= link_to "工時登錄", staff_salaries_path, class: 'btn btn-primary btn-lg' %>
<%= link_to "工讀名單", staff_users_path, class: 'btn btn-success btn-lg' %>
<%= link_to "問題反應", new_problem_path, class: 'btn btn-danger btn-lg' %>