<h1 class="verticalspace">Hi, <%= current_user.name %> 您好</h1>
<%= link_to "工時登錄", staff_salaries_path, class: 'btn btn-blue btn-lg' %>
<%= link_to "工讀名單", staff_users_path, class: 'btn btn-green btn-lg' %>
<%= link_to "問題反應", new_problem_path, class: 'btn btn-red btn-lg' %>