<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style type="text/scss" src="application.scss"></style>
    <title>Timesout</title>
</head>
<body>
    <table class="timesoutContainer">
      <tr>
          <td colspan="2" class="info">登出倒數計時器</td>
      </tr>
      <tr>
          <td id = "minutes">10</td>
          <td id = "seconds">00</td>
      </tr>
      <tr>
          <td>Minutes</td>
          <td>Seconds</td>
      </tr>
    </table>
    <script type="text/javascript"></script>

</body>
</html>