<body class="mybgimg aboutus fontstyle">
<img src="<%= asset_path('aboutus.png') %>", class="infotitle">
<h1 class="zhtitle">關於我們</h1>
<div class="contentinfo">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam minima quo accusantium, qui dolore facere ab odit eaque quasi nostrum officia dicta sapiente! Commodi vel aliquam impedit eaque, temporibus magni tempore corrupti vero maiores voluptates id, iste nemo culpa necessitatibus error provident aperiam ratione enim aut fugit velit quas aliquid? Ducimus, aspernatur et laudantium animi ea, fugiat sequi esse ad reprehenderit pariatur culpa perferendis ullam! Ut facilis accusamus assumenda? Deleniti id esse voluptatibus quos magnam velit dolorem voluptates natus expedita, impedit quam veniam repellat porro non provident eveniet vero dolor aliquid voluptatum quas. Iusto perspiciatis ipsum totam ipsam odio corporis.
    </p>
</div>
<div class="center-block">
<%= link_to "回到首頁", :back, class: 'btn btn-dark btn-lg' %>
</div>
</body>