<body class="mybgimg aboutus fontstyle">
<img src="<%= asset_path('aboutus.png') %>", class="infotitle">
<h1 class="zhtitle">關於我們</h1>
<div class="contentinfo">
    <p>
        只要是成功入學霍格華茲學院的學生皆會開通此網站的帳戶，以便有工讀需求時各處室方便登記工時，也讓學生能夠隨時查看自己工讀時數的詳細情形。
    </p>
</div>
<div class="center-block">
    <%= link_to "回到首頁", root_path, class: 'btn btn-dark btn-lg' %>
</div>
</body>