<body class="mybgimg aboutus fontstyle">
<img src="<%= asset_path('aboutus.png') %>", class="infotitle">
<h1 class="zhtitle">關於我們</h1>
<div class="contentinfo">
    <div class="d-flex flex-row col-12 about">
        <div class="stu col-lg-9 col-md-12 col-sm-12">
            <div class="stu-say p-2">
                <p>「 唉～</p>
                <p>這個⽉⼯讀薪資何時下來呢？</p>
                <p>餐廳那邊有確實登錄好我今天工讀時數嗎？」</p>
                <p>BY 學生 哈利Ｘ特</p>
            </div>
        </div>
    </div>
        
    <div class="d-flex flex-row-reverse col-12 about">
        <div class="sta col-lg-9 col-md-12 col-sm-12">
            <div class="staff-say p-2">
                <p>「 工作忙翻了！</p>
                <p>電腦⼜遠！</p>
                <p>即時登錄⼯讀學⽣時數好麻煩啊！</p>
                <p>新工讀學⽣⼀個⼀個 key 好累啊！」</p>
                <p>BY 教職員 石Ｘ卜</p>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row col-12 about justify-content-center">
        <h2>不用再煩惱了！</h2>
    </div>
    <div class="d-flex flex-row col-12 about justify-content-center">
        <div>
            <p>Oh My Wage 團隊的</p>
            <p>霍格華茲學院工讀薪資系統，</p>
            <p>給您「即時、方便 、簡單」的科技體驗，</p>
            <p>享受資訊往來就在彈指之間！</p>
        </div>
    </div>

</div>
<div class="center-block">
    <%= link_to '/', class: 'btn btn-gray btn-lg' do %>
        <p>
            <%= fa_icon "home", text: t('top_page') %>
        </p>
    <% end %>
</body>