<body class="mybgimg contactus fontstyle">
<img src="<%= asset_path('contactus.png') %>", class="infotitle">
<h1 class="zhtitle">聯絡我們</h1>
<div class="contentinfo">
    <ul>
        <li>TEL：</li>
            <a href="tel:+886223315247">
            <p>(02) 2331-5247</p>
            </a>
        <li>Email：</li>
            <a href="mailto:ohmywage@ohmywage.com">
            <p>ohmywage@ohmywage.com</p>
            </a>
        <li>Address：</li>
            <a href="https://ubin.io/TyZN7E">
            <p>5F., No. 7, Hengyang Rd., Zhongzheng Dist., Taipei City 100, Taiwan (R.O.C.)</p>
            </a>
        <li>Traffic：</li>
        <p>
            首先搭乘「霍格華茲特快列車」，從倫敦的國王十字車站中隱藏的9¾月台乘車，火車將於夜幕降臨後一段時間抵達霍格華茲附近的車站。
            後乘坐小船至對岸。上岸後再乘坐乘坐由生物 — 「騎士墜鬼馬」拉動的馬車進入城堡。
        </p>
    </ul>
</div>
<div class="center-block">
<%= link_to "回到首頁", root_path, class: 'btn btn-dark btn-lg' %>
</div>
</body>
