<h1>霍格華滋學院</h1>
<h2>Oh My Wage 工讀薪資系統</h2>
<div class="row">
  <div class="card col">
    <div class="card-body">
      <h3><%= link_to "學生 STUDENT", user_session_path, class: 'btn btn-info' %></h3>
    </div>
  </div>
  <div class="card col">
    <div class="card-body">
      <h3><%= link_to "教職員 STAFF", user_session_path, class: 'btn btn-info' %></h3>
    </div>
  </div>
</div>