<body class="mybgimg qa fontstyle">
    
<img src="<%= asset_path('qa.png') %>", class="infotitle">
<h1 class="zhtitle">常見問題</h1>
<div class="contentinfo">
    <ul>
        <li>Q1：</li>
        <p>
        Answer：Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe maxime, cumque ducimus cum numquam illum aperiam maiores blanditiis enim tempore.
        </p>
        <li>Q2：</li>
        <p>
        Answer：Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe maxime, cumque ducimus cum numquam illum aperiam maiores blanditiis enim tempore.
        </p>
        <li>Q3：</li>
        <p>
        Answer：Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe maxime, cumque ducimus cum numquam illum aperiam maiores blanditiis enim tempore.
        </p>
        <li>Q4：</li>
        <p>
        Answer：Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe maxime, cumque ducimus cum numquam illum aperiam maiores blanditiis enim tempore.
        </p>
        <li>Q5：</li>
        <p>
        Answer：Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe maxime, cumque ducimus cum numquam illum aperiam maiores blanditiis enim tempore.
        </p>
    </ul>
</div>
<div class="center-block">
<%= link_to "回到首頁", :back, class: 'btn btn-dark btn-lg' %>
</div>
</body>