<body class="mybgimg qa fontstyle">
    
<img src="<%= asset_path('qa.png') %>", class="infotitle">
<h1 class="zhtitle">常見問題</h1>
<div class="contentinfo">
    <ul>
        <li>Lorem ipsum dolor sit amet.常見問題</li>
        <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe maxime, cumque ducimus cum numquam illum aperiam maiores blanditiis enim tempore.
        </p>
        <li>Lorem ipsum dolor sit amet.</li>
        <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe maxime, cumque ducimus cum numquam illum aperiam maiores blanditiis enim tempore.
        </p>
        <li>Lorem ipsum dolor sit amet.</li>
        <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe maxime, cumque ducimus cum numquam illum aperiam maiores blanditiis enim tempore.
        </p>
        <li>Lorem ipsum dolor sit amet.</li>
        <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe maxime, cumque ducimus cum numquam illum aperiam maiores blanditiis enim tempore.
        </p>
        <li>Lorem ipsum dolor sit amet.</li>
        <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe maxime, cumque ducimus cum numquam illum aperiam maiores blanditiis enim tempore.
        </p>
    </ul>
</div>
<div class="center-block">
<%= link_to "回到首頁", :back, class: 'btn btn-dark btn-lg' %>
</div>
</body>