<body class="mybgimg qa fontstyle">
    
<div class="contentinfo">
   <div class="qa">
    <ul>
        <li>
            Q1：我該如何註冊帳戶？
        </li>
        <p>
            本站工時試算功能，目前僅提供霍格華茲學院教職員和工讀需求的學生使用，若有學生臨時有工讀需求，只需獲得工讀名額，即可使用功能！
        </p>
        <li>
            Q2：如果發現工讀時數登記錯誤該怎麼辦？
        </li>
        <p>
            可通過網站的問題回報功能來向學校反映問題。
        </p>
        <li>
            Q3：如果想新增功能？ 
        </li>
        <p>
            詳情參考聯絡我們，歡迎與我們聯絡接洽。
        </p>
    </ul>
    </div>
</div>
<div class="center-block">
    <%= link_to '/', class: 'btn btn-gray btn-lg' do %>
        <p>
           <%= fa_icon "home", text: t('top_page') %>
        </p>
    <% end %>
</div>
</body>