<body class="hogwarts aboutus fontstyle">
    
<img src="<%= asset_path('qa.png') %>", class="infotitle">
<h1 class="zhtitle">常見問題</h1>
<div class="contentinfo">
</div>
<div class="center-block">
<%= link_to "回到首頁", :back, class: 'btn btn-dark btn-xs' %>
</div>
</body>