/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');
body{ 
  background-image: url(/assets/bgn_lg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.title{
  margin: 10% 10% 2%;
  padding: 10px;
  color:#F4A460;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}
.row{
  margin: 0 15%;
  padding: 10px;
}
.item{
  background:rgba(230,230,250,0.85);
  margin: 2%;
  padding: 8%;
  box-sizing: border-box;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}