@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
@font-face {
  font-family: 'NotoSansTC-Light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets_path('NotoSansTC-Light.otf'));

  font-family: 'NotoSansTC-Bold';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets_path('NotoSansTC-Bold.otf'));

  font-family: 'NotoSansTC-Light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets_path('NotoSansTC-Light.otf'));


  font-family: 'NotoSansTC-Medium';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets_path('NotoSansTC-Medium.otf'));
  
  font-family: 'NotoSansTC-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets_path('NotoSansTC-Regular.otf'));
  
  font-family: 'NotoSansTC-Thin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets_path('NotoSansTC-Thin.otf'));
}

body{
  font-family: 'NotoSansTC-Regular';
}

.pdf-school{
  width: 100%;
  padding: 3px;
  h3{
    line-height: 1em;
    font-size: 20px;
  }
  p{
    font-size: 15px;
    line-height: 1em !important;
  }
}
.pdf-img{
  width: 250px;
  height: 250px;
}
h1.pdf-h1{
  margin: 0.5em auto;
  padding-top: 0.5em;
  text-align: center;
  font-size: 30pt;
  font-weight: 700;
  letter-spacing: 3px;
  border-top: 1px solid #000;
}

.pdf-table{
  width: 100%;
  font-weight: 400;
  border: #272727;
  text-align: center;
  tr{
    border-bottom: solid;
    border-width: 3px;
    letter-spacing: 1px;
    line-height: 2em;
}
  th{
    width: 200px;
    font-size: 30px;
    background:#bebebe;
    border: #835959;
    color:black;
    letter-spacing: 5px;
  }
  td{
    font-size: 25px;
  }
}

.logo-img{
  width: 200px;
  height: 200px;
  img{
    width: 100%;
    height: 100%;
  }
}

h1.sign-h1{
  margin: 0.5em auto;
  padding-top: 0.5em;
  text-align: center;
  font-size: 30pt;
  font-weight: 700;
  letter-spacing: 2px;
}

.sign-table{
  vertical-align: middle;
  margin: 5em auto;
  padding: 0.1em;
  text-align: center;
  border: 1px solid #272727;
  th, td{
    border: 1px solid #272727;
  }
  th > p{
    font-size: 30px;
  }
  td > p{
    color: transparent;
    font-size: 40px;
    line-height: 5em;
  }
}

table,tr,td,th,tbody,thead,tfoot{
    page-break-inside: avoid !important;
}