.wrap_pdf{
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  padding: 5px;
  border-bottom: 2px solid #272727;
<<<<<<< Updated upstream
}
.pdf_brand_left{
  flex-grow: 1;
  font-family: 'Noto Serif', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
  font-size: 50pt;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 3px;
  .brand_eng{
    font-family: 'Noto Serif', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25pt;
    font-weight: 400;
    letter-spacing: 0px;
=======
  .mr-auto.p-2{
    margin-bottom: 1em;
  }
  h3{
    line-height: 1.5em;
    font-size: 40px;
  }
  h4{
    font-size: 20px;
  }
  p{
    font-size: 25px;
>>>>>>> Stashed changes
  }
}
.pdf_brand_right{
  font-family: 'Noto Serif', sans-serif;
  font-display: swap;
  text-align: left;
  font-size: 30pt;
  font-weight: 400;
  margin-bottom: 20px;
}
.pdf_title_1{
  font-family: 'Noto Sans TC', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-display: swap;
  text-align: center;
<<<<<<< Updated upstream
  font-size: 80pt;
=======
  font-size: 40pt;
>>>>>>> Stashed changes
  font-weight: 700;
  letter-spacing: 3px;
}
.pdf_title_2{
  font-family: 'Noto Sans TC', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-display: swap;
  text-align: left;
  font-size: 50pt;
  font-weight: 300;
  line-height: 20pt;
}
.pdf-table{
  width: 100%;
  font-size: 45pt;
  font-family: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height:110px;
  border: #272727;
  tr{
    border-bottom: solid;
    border-width: 3px;
    letter-spacing: 1px;
<<<<<<< Updated upstream
}
  td,th{
  text-align: center;
  
}
  td,th{
  text-align: center;
  
}
=======
    height: 1.5em;
  }
>>>>>>> Stashed changes
  th{
  background:#bebebe;
  border: #bebebe;
  color:black;
  letter-spacing: 6px;
}
}

table,tr,td,th,tbody,thead,tfoot{
    page-break-inside: avoid !important;
}