@font-face {
  font-family: 'NotoSansTC-Light';
  src: url('<%= asset_data_base64("NotoSansTC-Black.otf") %>');
}

.custom_fonts{
  font-family: 'NotoSansTC-Light';
}
.wrap_pdf{
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  padding: 5px;
  border-bottom: 2px solid #272727;
}
.pdf_brand_left{
  flex-grow: 1;
  font-family: 'NotoSansTC-Light';
  text-align: left;
  font-size: 50pt;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 3px;
  .brand_eng{
    
    font-size: 25pt;
    font-weight: 400;
    letter-spacing: 0px;
  }
}
.pdf_brand_right{
  font-family: 'NotoSansTC-Light';
  font-display: swap;
  text-align: left;
  font-size: 30pt;
  font-weight: 400;
  margin-bottom: 20px;
}
.pdf_title_1{
  font-family: 'NotoSansTC-Light';
  font-display: swap;
  text-align: center;
  font-size: 80pt;
  font-weight: 700;
  letter-spacing: 3px;
}
.pdf_title_2{
  font-family: 'NotoSansTC-Light';
  font-display: swap;
  text-align: left;
  font-size: 50pt;
  font-weight: 300;
  line-height: 20pt;
}
.pdf-table{
  width: 100%;
  font-size: 45pt;
  font-family: 'NotoSansTC-Light';
  font-weight: 400;
  line-height:110px;
  border: #272727;
  tr{
    border-bottom: solid;
    border-width: 3px;
    letter-spacing: 1px;
}
  td,th{
  text-align: center;
  
}
  td,th{
  text-align: center;
  
}
  th{
  background:#bebebe;
  border: #bebebe;
  color:black;
  letter-spacing: 6px;
}
}

table,tr,td,th,tbody,thead,tfoot{
    page-break-inside: avoid !important;
}