<p><%= @user.name %>，您好!</p>

<p>您(或是其他人)通知本網站忘記密碼且要求重新設定新密碼。</p>
<p>若您確定需重新設定密碼，請點選下列網址連結進行確認：</p>
<p><%= link_to '更改我的密碼', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>若您並未提出重新設定要求，則請忽略本封信訊息。您的帳戶將不會有任何變動。</p>
<hr align=left width="60%" >

<div>
  霍格華滋學院工讀薪資系統<br>
  電話：<a href="tel:+886223315247">(02) 2331-5247</a><br>
  地址：<a href="https://ubin.io/TyZN7E">100台北市中正區衡陽路7號</a><br>
  網址：<a href="https://oh-my-wage.website">oh-my-wage.website</a>
</div>