<p><%= @resource.name %>，您好!</p>

<p>您(或是其他人)通知本網站忘記密碼且要求重新設定新密碼。</p>
<p>若您確定需重新設定密碼，請點選下列網址連結進行確認：</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>若您並未提出重新設定要求，則請忽略本封信訊息。您的帳戶將不會有任何變動。</p>