<div class="nested-fields">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">日期</th>
        <th scope="col">工時</th>
        <th scope="col">時薪</th>
        <th scope="col">刪除</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= f.input :date, label: false, as: :date, html5: true %></td>
        <td><%= f.input :hr, label: false, placeholder: '工時', input_html: { min: 1 } %></td>
        <td><%= f.input :hourly_wage, label: false, placeholder: '時薪', input_html: { min: 150 } %></td>
        <td>
        <%= link_to_remove_association "×", f, class: 'btn btn-md btn-red white-hover' %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
