<div class="nested-fields">
  <table class="table salary">
    <tbody>
      <tr>
        <td class="date"><%= f.input :date, label: false, as: :date, html5: true %></td>
        <td class="time"><%= f.input :hr, label: false, placeholder: t("hour"), input_html: { min: 1 } %></td>
        <td class="wage"><%= f.input :hourly_wage, label: false, placeholder: t("hourly_wage"), input_html: { min: 150 } %></td>
        <td class="delete">
        <%= link_to_remove_association "×", f, data: { confirm: "確定要把這筆薪資刪除嗎?" }, class: 'btn btn-md btn-red white-hover mt-0' %>
        </td>
      </tr>
    </tbody>
  </table>
</div>